.body {
    background-color: #F5F5F7;
    font-family: "georgia"
}
.navbar-brand {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.description {
    background-color: #FEFEFE;
    margin-left: 40px;
    padding: 15px;
    padding-left: 40;
}

.description_title {
    color: #2A25CB;
}

.descrip_image {
    float: left;
}

p {
    font-size: 18px;
}

.graph_links {
    padding: 15px;
    padding-left: 25px;
    background-color: #FEFEFE;
    margin-right: 30px;
}

.graphs_title {
    color: #2A25CB;
    padding-bottom: 5px;
}

.image_link {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
}

.base_image {
    border: 2px solid black;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
 }

 .full_image {
    margin-left: 80px;
    width: 65%;
 }

 .comp_large_title {
    color: #2A25CB;
    padding-bottom: 20px;
    margin-left: 40px;
    font-size: 2vw
 }
 .comparison-title {
    color: #2A25CB;
    font-size: 2vw;
 }

 .comparison {
    background-color: #FEFEFE;
    margin-right: 60px;
    padding: 15px;
    padding-right: 25;
    margin-bottom: 20px;
    margin-left: 60px;
 }

 .comp_image {
    margin-left: 100px;
    width: 75%;
 }

 .table {
    background-color: #FEFEFE;
    margin-left: 60px;
    padding: 15px;
    padding-left: 40px;
 }